<%= form_for(@prompt) do |f| %>
  <% if @prompt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prompt.errors.count, "error") %> prohibited this prompt from being saved:</h2>

      <ul>
      <% @prompt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image %>: Students will be able to drag a red dot to a point on this image.<br />
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :text %> (e.g. "Drag the red dot to where the arrow will hit.")<br />
    <%= f.text_field :text %>
  </div>
  <div class="actions">
    <%= f.submit :class => "btn-large btn-primary" %>
  </div>
<% end %>
