<style>
.step {
	padding: 25px;
	border: 0px;
	
	height: 100px;
	margin: 0px;
}

.halfstep {
	padding: 25px;
	border: 0px;
	
	height: 50px;
	margin: 0px;
}


.step:last-child {
	border-bottom: none;
}


.sectionNumber {
	vertical-align: top;
}

.sectionContent {
	display: inline-block;
	margin-top: 12.5px;
}

form {
	margin-bottom: 0px;
}

.form_output {
	visibility: hidden;
	height: 0px;
	width: 0px;
}
</style>

<iframe name="form_output" class="form_output"></iframe>

<%= form_for(@prompt, :html => { :multipart => true, :target => 'form_output' })  do |f| %>
	<%= f.hidden_field :studentUrl, :value => @prompt.studentUrl %>
	<%= f.hidden_field :teacherUrl, :value => @prompt.teacherUrl %>
  <% if @prompt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prompt.errors.count, "error") %> prohibited this prompt from being saved:</h2>

      <ul>
      <% @prompt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<fieldset>
	<h1 class="halfstep">Make a Prompt</h1>
	
  <div class="step">
	<div class="numberCircle sectionNumber">1</div>
	<div class="sectionContent">
	<p class="lead">Upload an Image</p>
    <%= f.file_field :image, :id => "image_file" %>
	</div>
  </div>
  <div class="step">
	<div class="numberCircle sectionNumber">2</div>
	<div class="sectionContent">
    <p class="lead">Write a Prompt</legend>
	<div class="input-prepend">
		<span class="add-on">Drag the red dot to...</span>
    <%= f.text_field :text, :id => "text_field", :placeholder => "where the ball will land"%>
	</div>
	</div>
  </div>
  <div class="step">
	<div class="numberCircle sectionNumber">3</div>
	<div class="sectionContent">
	<p class="lead">Give this link to your students</p>
	<a href="/<%= @prompt.studentUrl %>" target="_blank"><script>
	  document.write( window.location.hostname + (window.location.port ? ':' + window.location.port : '') + '/' + '<%= @prompt.studentUrl %>');
	</script></a>
	</div>
  </div>
  <div class="step">
	<div class="numberCircle sectionNumber">4</div>
	<div class="sectionContent">
	<p class="lead">Go here to see their responses</p>
	<a href="/<%= @prompt.teacherUrl %>" target="_blank"><script>
		  document.write( window.location.hostname + (window.location.port ? ':' + window.location.port : '') + '/' + '<%= @prompt.teacherUrl %>');
		</script></a>
	</div>
  </div>
</fieldset>
<% end %>

<script type="text/javascript">
$('#image_file').change(function() {
  $('#new_prompt').submit();
});

$('#text_field').change(function() {
  $('#new_prompt').submit();
});
</script>
