<style>
.step {
	padding: 15px;
}
</style>

<%= form_for(@prompt) do |f| %>
  <% if @prompt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prompt.errors.count, "error") %> prohibited this prompt from being saved:</h2>

      <ul>
      <% @prompt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<fieldset>
  <div class="step">
	<label>1. Upload an Image</label>
    <%= f.file_field :image %>
  </div>
  <div class="step">

    <label>2. Write a Prompt</label>
	<div class="input-prepend">
		<span class="add-on">Drag the red dot to...</span>
    <%= f.text_field :text, :placeholder => "where the ball will land"%>
	</div>
  </div>
  <div class="step">
    <label>3. Make a link for your students</label>
	<%= f.submit :value => "Make a link", :class => "btn btn-primary" %>
  </div>
</fieldset>
<% end %>
