<script type="text/javascript">
var responses = new Firebase('https://activeprompt.firebaseio.com/<%= @prompt.studentUrl %>');
</script>

<% if showAllResponses %>
  <%= render 'teacherView' %>
<% else %>
  <%= render 'studentView' %>
<% end %>

<div style="position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px;">
	<div style="position: absolute; top: 0px; bottom: 100px; left: 0px; right: 0px; overflow: scroll;">
		<div id="prompt_image_container" style="display: inline-block;">
			<%= image_tag(@prompt.image, style: "position: relative", id: "prompt_image") %>
		</div>
	</div>
	<div style="position: absolute; height: 100px; bottom: 0px;">
		<%= @prompt.text %>
	</div>
</div>