<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @prompt.title %>
</p>

<p>
  <b>Content:</b>
  <%= @prompt.content %>
</p>

<h2>Responses</h2>
<% @prompt.responses.each do |response| %>
  <p><%= response.comment %></p>
<% end %>

<%= form_for([@prompt, @prompt.responses.build]) do |f| %>
<div class="field">
  <%= f.label :comment %><br/>
  <%= f.text_field :comment %><br />
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>


<%= link_to 'Edit', edit_prompt_path(@prompt) %> |
<%= link_to 'Back', prompts_path %>
