<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @prompt.title %>
</p>

<p>
  <b>Content:</b>
  <%= @prompt.content %>
</p>

<p>Teacher url: <%= @prompt.teacherUrl %></p>

<p>Student url: <%= @prompt.studentUrl %></p>

<%= link_to 'Edit', edit_prompt_path(@prompt) %> |
