<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @prompt.text %>
</p>

Teacher url:
<a href="/<%= @prompt.teacherUrl %>" target="_blank"><script>
	  document.write( window.location.hostname + (window.location.port ? ':' + window.location.port : '') + '/' + '<%= @prompt.teacherUrl %>');
	</script></a>
(go here to see all responses)<br/>

Student url: 
<a href="/<%= @prompt.studentUrl %>" target="_blank"><script>
  document.write( window.location.hostname + (window.location.port ? ':' + window.location.port : '') + '/' + '<%= @prompt.studentUrl %>');
</script></a>
(give to students to enter responses)<br/>

<%= image_tag @prompt.image %>
<br />

<%= link_to 'Edit', edit_prompt_path(@prompt) %> |
